<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400383641440-glavg3dsl8ejhnefklu688roh7pufvcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400383641440-glavg3dsl8ejhnefklu688roh7pufvcm</string>
	<key>API_KEY</key>
	<string>AIzaSyCbKAjytm1MHew8jp5GSfKVkwQg3aKILsA</string>
	<key>GCM_SENDER_ID</key>
	<string>400383641440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amigoFiel</string>
	<key>PROJECT_ID</key>
	<string>amigo-fiel-283b5</string>
	<key>STORAGE_BUCKET</key>
	<string>amigo-fiel-283b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400383641440:ios:a40dc57dc5f5fa4f844005</string>
</dict>
</plist>